target
nbproject
/civity-rest-client/nb-configuration.xml
/scorewater-minimum-viable-iot-agent/scorewater-gbg-bathing-water/src/main/resources/to-run-locally.txt
nb-configuration.xml
nbactions.xml
/images.pptx
.idea
/scorewater-minimum-viable-iot-agent/*.log
/scorewater-minimum-viable-iot-agent/scorewater-turbinator/*.gz
/scorewater-minimum-viable-iot-agent/scorewater-turbinator/*.log
/scorewater-minimum-viable-iot-agent/console.log
